<AuthorizeView>
    <NotAuthorized>
        @*<a href="Identity/Account/Register">Register</a>*@
        <a href="Identity/Account/Login">ورود</a>
    </NotAuthorized>
    <Authorized>
        <form method="post" action="Identity/Account/LogOut" style="float: left;">
            <button type="submit" class="nav-link btn btn-link">خروج</button>
        </form>
        <a href="Identity/Account/Manage" style="float: left;">@context.User.Identity.Name</a>
    </Authorized>
</AuthorizeView>
